Django
dj-database-url==2.3.0
django-cors-headers==4.7.0
django-tinymce==4.1.0
djangorestframework==3.16.0
drf-yasg==1.21.10
psycopg2==2.9.10
gunicorn==23.0.0
python-dotenv==1.0.1
pytz==2024.2
PyYAML==6.0.2
uritemplate==4.1.1
inflection==0.5.1
packaging==24.2
prisma==0.15.0
asyncpg==0.30.0
pydantic==2.10.6
pydantic_core==2.27.2
tomlkit==0.13.2
typing_extensions==4.12.2
pandas==2.2.3
numpy==2.2.3
openpyxl==3.1.5
et_xmlfile==2.0.0
python-dateutil==2.9.0.post0
pillow==11.1.0